

body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

body {
	background: url(../img/bg2-1.jpg) no-repeat; 
	background-size: cover;
	background-position-y: 100px;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	/* padding-bottom: 50px; */
	color: #f8f8f8;
	/* background: url(../img/intro-bg.jpg) no-repeat center center; */
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.alerts {
	height: 30px;
	background-color: #910029;
}
.alert-txt {
	color: yellow;
	padding-left: 10px;
	padding-top: 5px;
}
.OB-log {
	text-align: left;
	padding: 20px 20px;
}

.OB-log-unimp {
	color: #9D9D9D;
}

.slide-container {
	margin: 100px 10px;
}

.btn-login {
	background-color: #910029;
	color:#fff;
	width:250px;
	margin:0 auto;
}

.btn-login:hover {
	color:#fff;
	background-color: #910029;
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-a .fa  {
	font-size: 15em;
}

.content-section-b .fa  {
	font-size: 15em;
}

.content-section-b {

	background-color: #f8f8f8;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}

/* Modified Bootstrap */
.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
	padding:10px;
	border-bottom: 1px solid #a7a8ac;
}
.carousel-inner .item img {
	width: 100%;
	max-height: 500px;
}
.modal-dialog {
	max-width: 400px;
}

.carousel-control.left {
	background-image: none;
}


.carousel-control.right {
	background-image: none;
}

/* End Modified Bootstrap */


#contact {
	background-image:url('../img/contact.jpg');
}

#login input[type="text"], #login input[type="password"], #signup input[type="text"], #signup input[type="password"] {
	width: 100%;
	height: 28px;
}